

.navbar {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent !important; /* transparente */
    z-index: 1; /* por encima del carrusel */
  }

.navbar-brand, .nav-link {
  color: rgb(70, 67, 67) !important; /* texto blanco */
}
.carousel-item img {
  height: 100vh; /* ocupa toda la pantalla */
  object-fit: cover; /* recorte proporcional */
}

.im1 {
  margin-top: 50px;
  background-color: aqua;
}


  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
  }
  .fade-in.show {
    opacity: 1;
    transform: translateY(0);
  }
